<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="InternetBanking_V1">
	<listeners>
		<listener class-name="com.InternetBanking_V1.utilities.ExtentReportingListener"></listener>
	</listeners>
	<test thread-count="5" name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.InternetBanking_V1.testCases.TC_LoginTest_001"/>
			<class name="com.InternetBanking_V1.testCases.TC_AddCustomerTest_001" />
			<class name="com.InternetBanking_V1.testCases.TC_EditCustomerTest_001" />
			<class name="com.InternetBanking_V1.testCases.TC_DeleteCustomerTest_001" />
		</classes>
	</test> <!-- BankingApp Test -->
</suite> <!-- InternetBanking_V1 -->